__pycache__/
.gitignore
.ipynb_checkpoints/
.directory
*/.directory
*.swp
Thumbs.db
*/Thumbs.db
Corrections-Exercises-Private/
Misc-Unshared/
Misc-Unshared/*
Huckel.ipynb
HydrogenAtom.ipynb
InfiniteSquareWell.ipynb
