__pycache__/
.ipynb_checkpoints/
.directory
*/.directory
*.swp
Thumbs.db
*/Thumbs.db
MiscUnshared/
MiscUnshared/*
*private.ipynb
*corrige.ipynb
*Corrige.ipynb
*dev.ipynb
Feedback/
Feedback/*
*dev/
*dev/*
# Files over 50mb
ML-data/Conv1D_functions.csv
