__pycache__/
.gitignore
.ipynb_checkpoints/
.directory
*/.directory
*.swp
Thumbs.db
*/Thumbs.db
Corrections-Exercises-Private/
MiscUnshared/
MiscUnshared/*
Huckel.ipynb
HydrogenAtom.ipynb
InfiniteSquareWell.ipynb
