ase
babel
beautifulsoup4
bibtexparser
dash
fonttools
google-auth
h5py
ipykernel
ipympl
ipython
ipython-genutils
ipython_pygments_lexers
ipywidgets
json5
jupyter
jupyter-console
jupyter-dash
jupyter-events
jupyter-jsmol
jupyter-lsp
jupyter-server-mathjax
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_git
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
Markdown
matplotlib
mendeleev
molmass
nbconvert
notebook
notebook_shim
numpy
opencv-python
pandas
periodictable
pillow
plotly
py3Dmol
pyarrow
pymatgen
rdkit
scikit-image
scipy
seaborn
sympy
xlsxwriter
