absl-py
aiohappyeyeballs
aiohttp
aiosignal
ansi2html
anyio
argon2-cffi
argon2-cffi-bindings
arrow
ase
asttokens
astunparse
async-lru
attrs
babel
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
cloudpickle
colorama
comm
contourpy
cssselect
cssutils
cycler
dash
dash-bootstrap-components
dash-core-components
dash-html-components
dash-table
dash_dangerously_set_inner_html
dataclasses
dataframe_image
debugpy
decorator
defusedxml
Deprecated
dm-tree
et_xmlfile
executing
fastjsonschema
Flask
flatbuffers
fonttools
fqdn
frozenlist
future
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
graphviz
greenlet
grpcio
h11
h5py
html2image
httpcore
httpx
idna
imageio
imbalanced-learn
imblearn
importlib_metadata
iniconfig
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
isoduration
itsdangerous
jedi
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-dash
jupyter-events
jupyter-jsmol
jupyter-lsp
jupyter-server-mathjax
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-vim
jupyterlab_git
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
keras
keras-tuner
kiwisolver
kt-legacy
latexcodec
lazy_loader
libclang
llvmlite
lxml
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mendeleev
mistune
ml-dtypes
molmass
monty
more-itertools
mpmath
multidict
namex
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
networkx
nglview
nmrglue
notebook
notebook_shim
numba
numpy
oauthlib
opencv-python
openpyxl
opt_einsum
optree
overrides
packaging
palettable
pandas
pandocfilters
parso
pexpect
pillow
platformdirs
plotly
pluggy
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
py3Dmol
pyarrow
pyasn1
pyasn1_modules
pybinding-dev
pybtex
pycparser
pydot
pyfiglet
Pygments
pymatgen
pymatgen-analysis-diffusion
pyparsing
pystow
pytest
python-dateutil
python-json-logger
pytz
PyYAML
pyzmq
qtconsole
QtPy
rdkit
referencing
requests
requests-oauthlib
retrying
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
ruamel.yaml
ruamel.yaml.clib
scikit-image
scikit-learn
scipy
seaborn
Send2Trash
shap
six
slicer
smmap
sniffio
soupsieve
spglib
SQLAlchemy
stack-data
sympy
tabulate
tenacity
tensorboard
tensorboard-data-server
tensorflow
termcolor
terminado
threadpoolctl
tifffile
tinycss2
tornado
tqdm
traitlets
types-python-dateutil
typing_extensions
typo
tzdata
uncertainties
uri-template
urllib3
useful_rdkit_utils
varname
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
widgetsnbextension
wrapt
xgboost
xlrd
XlsxWriter
Xplique
yarl
zipp
