aiohappyeyeballs
aiohttp
aiosignal
alabaster
altgraph
annotated-types
ansi2html
anyio
anywidget
apptools
argon2-cffi
argon2-cffi-bindings
arrow
arviz
ase
astroid
asttokens
async-lru
asyncssh
atomicwrites
attrs
autopep8
babel
backports.tarfile
beautifulsoup4
bibiso4
bibtexparser
binaryornot
biopython
black
bleach
blinker
bokeh
bs4
build
cachetools
cairocffi
CairoSVG
cclib
certifi
cffi
chardet
charset-normalizer
choreographer
click
cloudpickle
colorama
colour
comm
configobj
configparser
cons
contourpy
cookiecutter
cryptography
cssselect
cssselect2
cssutils
cycler
darkdetect
dash
dash-core-components
dash-html-components
dash-table
dash_bio
dash_cytoscape
dataframe_image
debugpy
decorator
defusedxml
Deprecated
diff-match-patch
dill
docstring-to-markdown
docutils
entrypoints
envisage
et_xmlfile
etuples
executing
fastjsonschema
filelock
flake8
Flask
fonttools
fpdf
fqdn
frozenlist
furo
future
geopandas
GEOparse
git-filter-repo
gitdb
GitPython
greenlet
-e git+https://github.com/rpoteau/gSOMOs.git@dffd5588d26cd86ea8468c821dbb3d588fe872a4#egg=gSOMOs
h11
h5netcdf
h5py
habanero
-e git+https://github.com/rpoteau/HMO.git@01991672ee52d21231185bc73ad367a3842e10be#egg=HMO
html2image
httpcore
httpx
id
idna
imageio
imagesize
importlib_metadata
inflection
iniconfig
intervaltree
ipykernel
ipympl
ipython
ipython-genutils
ipywidgets
isoduration
isort
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jedi
jeepney
jellyfish
Jinja2
joblib
json5
jsonpickle
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-dash
jupyter-events
jupyter-highlight-selected-word
jupyter-lsp
jupyter-server-mathjax
jupyter_client
jupyter_contrib_core
jupyter_contrib_nbextensions
jupyter_core
jupyter_nbextensions_configurator
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-vim
jupyterlab_git
jupyterlab_pygments
jupyterlab_server
jupyterlab_widgets
kaleido
keyring
kiwisolver
latexcodec
lazy_loader
llvmlite
logical-unification
logistro
lxml
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
mendeleev
miniKanren
mistune
molmass
monty
more-itertools
mpmath
multidict
multipledispatch
mypy_extensions
myst-parser
narwhals
nbclassic
nbclient
nbconvert
nbdime
nbformat
nest-asyncio
networkx
nh3
nmrglue
nmrsim
notebook
notebook_shim
numba
numpy
numpydoc
odfpy
opencv-python
openpyxl
orjson
outcome
overrides
packaging
palettable
pandas
pandocfilters
ParmEd
parso
pathspec
periodictable
pexpect
pickleshare
pillow
pipdeptree
platformdirs
playwright
plotly
pluggy
prettytable
prometheus_client
prompt_toolkit
propcache
psutil
psygnal
ptyprocess
pure_eval
py2sambvca
py3Dmol
pyarrow
pybinding-dev
pybtex
pycodestyle
pycountry
pycparser
pydantic
pydantic_core
pydocstyle
pyee
pyface
pyfiglet
pyflakes
PyGithub
Pygments
pyinstaller
pyinstaller-hooks-contrib
PyJWT
pylint
pylint-venv
pymatgen
pymatgen-analysis-diffusion
pymc
PyMySQL
PyNaCl
pyogrio
pyparsing
pyproj
pyproject_hooks
PyQt5
PyQt5-Qt5
PyQt5_sip
PyQt6
PyQt6-Qt6
PyQt6_sip
pyqtdarktheme
PyQtWebEngine
PyQtWebEngine-Qt5
PySide6
PySide6_Addons
PySide6_Essentials
PySocks
pytensor
pytest
python-dateutil
python-docx
python-json-logger
python-lsp-jsonrpc
python-slugify
pytoolconfig
pytz
pyuca
pyvis
pyxdg
PyYAML
pyzmq
QDarkStyle
qgrid
qrcode
qstylizer
QtAwesome
qtconsole
QtPy
rdeditor
rdkit
readme_renderer
referencing
requests
requests-toolbelt
retrying
rfc3339-validator
rfc3986
rfc3986-validator
rich
roman-numerals-py
rope
rpds-py
rtree
ruamel.yaml
ruamel.yaml.clib
scikit-image
scikit-learn
scipy
seaborn
SecretStorage
selenium
Send2Trash
shapely
shiboken6
sigfig
simplejson
six
smmap
sniffio
snowballstemmer
sortedcontainers
soupsieve
sparse
spglib
Sphinx
sphinx-autodoc-typehints
sphinx-basic-ng
sphinx-rtd-theme
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jquery
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder-kernels
SQLAlchemy
stack-data
superqt
sympy
tabulate
tenacity
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tomlkit
toolz
tornado
tqdm
traitlets
traits
traitsui
trio
trio-websocket
twine
types-python-dateutil
typing-inspection
typing_extensions
typo
tzdata
ujson
uncertainties
uri-template
urllib3
varname
vtk
watchdog
wcwidth
webcolors
webencodings
websocket-client
Werkzeug
whatthepatch
widgetsnbextension
wordcloud
wrapt
wsproto
wurlitzer
xarray
xarray-einstats
xlrd
xlsxwriter
xyzservices
yapf
yarl
zipp
